[Unit]
Description=database-loadbalancer

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=20m
ExecStartPre=/usr/bin/docker pull docker-registry.paragusit.com/galeramariadb-ubuntu:14.04:latest
ExecStart=/bin/sh -c "/usr/bin/docker run --name database-loadbalancer --rm -p 3307:3307 -p 8888:8080 -e PUBLISH=3307 -e HOST=$COREOS_PRIVATE_IPV4 docker-registry.paragusit.com/galeramariadb-ubuntu:14.04:latest /app/bin/loadbalancer"
ExecStop=/usr/bin/docker stop database-loadbalancer
