[Unit]
Description=Galera Mariadb node
Requires=galera-mariadb-data@i.service
After=galera-mariadb-data@i.service

[Service]
EnvironmentFile=/etc/environment
User=core
TimeoutStartSec=20m
KillMode=none
ExecStartPre=-/usr/bin/docker kill galera-mariadb-%i
ExecStartPre=-/usr/bin/docker rm galera-mariadb-%i
ExecStartPre=/usr/bin/docker pull docker-registry.paragusit.com/galeramariadb-ubuntu:14.04:latest
ExecStart=/bin/sh -c "/usr/bin/docker run --name galera-mariadb-%i --rm -p 3306:3306 -p 4444:4444 -p 4567:4567 -p 4568:4568 -e PUBLISH=3306 -e HOST=$COREOS_PRIVATE_IPV4 -e CLUSTER=openstack-galera --volumes-from galera-mariadb-data-%i docker-registry.paragusit.com/galeramariadb-ubuntu:14.04:latest"
ExecStop=/usr/bin/docker stop galera-mariadb%i

[X-Fleet]
MachineOf=galera-mariadb-data@*.service